# Python
build
dist
Mini_NDN.egg-info
*.pyc

# Docs
docs/html
docs/latex
docs/_build

# Misc
.DS_Store
dl
*.apconf

# Vagrant
.vagrant


# 忽略 chunkworkdir 目录下的所有内容
chunkworkdir/**/*

# 不忽略 .py 和 .ini 文件
!chunkworkdir/**/*.py
!chunkworkdir/**/*.ini