# Python
build
dist
Mini_NDN.egg-info
*.pyc

# Docs
docs/html
docs/latex
docs/_build

# Misc
.DS_Store
dl
*.apconf

# Vagrant
.vagrant


# 先显式不忽略 chunkworkdir 目录本身
!chunkworkdir/
# 不忽略所有子目录
!chunkworkdir/**/
# 不忽略 .py 和 .ini 文件
!chunkworkdir/**/*.py
!chunkworkdir/**/*.ini
# 忽略 chunkworkdir 下的其他所有文件
chunkworkdir/**/*